<md-card>
    <md-card-title>
        <md-card-title-media>
            <div class="md-media-md card-media">
                <img ng-src="{{item.galleryURL[0]}}" class="md-card-image" height="70" width="70">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <span class="md-head"> {{item.sellingStatus[0].currentPrice[0].__value__}} EUR</span>
            <br>
            <p>{{item.title}}</p>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Like</md-button>
    </md-card-actions>
</md-card>