
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body ng-app="BlankApp">

<div ng-controller="BlankAppController" >
    <md-content class="md-padding" layout-xs="column" layout="row" ng-crl>
        <div flex="100">
            <form name="itemForm" ng-submit="submit()">
                <md-input-container>
                    <label>Item Name</label>
                    <input name="item" ng-model="itemName">
                </md-input-container>
            </form>
        </div>
    </md-content>
    <md-content class="md-padding" layout-xs="column" layout="row" ng-crl>
        <div flex-xs flex-gt-xs="33" layout="column" ng-repeat="item in items | limitTo:3:0">
            <ebay-item item="item"></ebay-item>
        </div>
    </md-content>
    <md-content class="md-padding" layout-xs="column" layout="row" ng-crl>
        <div flex-xs flex-gt-xs="33" layout="column" ng-repeat="item in items | limitTo:3:3">
            <ebay-item item="item"></ebay-item>
        </div>
    </md-content>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="/static/app.js"></script>
<script src="/static/components/ebayItemComponent/ebayItemDirective.js"></script>
<script src="/static/components/appComponent/appController.js"></script>
</body>
</html>